body {
    background-color: black;
  }

  #overall{
    background-color: black;
    
    color: aquamarine;
    }

    #webheader{
      margin-inline-start: 400px;
    }

    .result-grid{
      width: 1200px;
       background-color: black;
       display: flex;
       margin: 2rem;
            
    }

.inputinfo{
    background-color: black;
    margin: 2rem;
    margin-left: 100px;
    padding-left: 10px;
    width: 400px; 
    border: aquamarine;
    border-style: solid;
    border-width: 20px;
    border-radius: 10px;
    height: 350px;    
}

#firstcomp{
background-color: black; 
margin: 2rem;
width: 400px;
border: aquamarine;
border-style: solid;
border-width: 20px;
border-radius: 10px;
height: 350px;
justify-content: center;
place-items: top;
color: aquamarine;
text-align: center;
}
#comcomp {
background-color: black;
display: flex;
margin: 2rem;
flex-wrap: wrap;
justify-content: center;
clear: both;
width: 300px;
border: aquamarine;
border-style: solid;
border-width: 20px;
border-radius: 10px;
height: 350px;
justify-content: center;
place-items: top;
color: aquamarine;
text-align: center;
}
#tempholder{
display: inline-flex;
flex-wrap: wrap;
justify-content: center;
}


h3{
    color: aquamarine;
}

h1{
  color: aquamarine;
  text-shadow: 30px black;

}